/* .navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 193, 7, 0.2);
} */
